body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0a4d78;
  color: rgb(237, 240, 247);
  padding: 20px 0;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* opsional: biar ada bayangan */
}


header h1 {
  margin: 0;
  font-size: 2rem;
}

.container {
  padding: 100px 40px 25px 40px; /* atas, kanan, bawah, kiri */
}


h2 {
  margin-bottom: 20px;
  font-size: 1.7rem;
  color: rgb(33, 53, 100);
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.left-controls,
.right-controls {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.filter-box {
  background-color: #4283a8;
  padding: 10px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

/* Dropdown, date, button */
.filter-box select,
.filter-box input[type="date"],
.filter-box button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #eee8e8;
  font-size: 1rem;
}

/* Filter button style */
.filter-box button {
  background-color: #dbeaf1;
  color: rgb(29, 28, 28);
   font-weight: bold;
  border: none;
  cursor: pointer;
}

/* Custom file upload */
.custom-file-upload {
  position: relative;
}

.custom-file-upload label {
  background-color: #dbeaf1;
  color: rgb(44, 44, 44);
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.custom-file-upload input[type="file"] {
  display: none;
}

/* Chart canvas */
canvas {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(3, 3, 3, 0.932);
  width: 100%;
  max-width: 100%;
}
